@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Content/img/me.jpg" width="500" height="400" class="img-responsive"/>
<p><br /></p>
<p>Matricula: 20151745 </p>
<p>Es un estudiante de UNAPEC que le ha dado muchisimas vueltas a esta pagina para jocear sus puntos.</p>
