@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lebron's VideoClub</h1>
    <p class="lead">El lugar donde puedes encontrar las mejores peliculas y series.</p>
    <p><a href="~/Peliculas" class="btn btn-primary btn-lg">Ver catalogo en linea &raquo;</a></p>
</div>

<div class="row">
    <h2>Novedades</h2>

    <div class="col-md-4">
            <img src="~/Content/img/warcraft.jpg"  class="img-thumbnail"/>       
    </div>

    <div class="col-md-4">
        <img src="~/Content/img/Alicia.jpg" class="img-thumbnail"/>
    </div>

    <div class="col-md-4">

        <img src="~/Content/img/no-respires.jpg" class="img-thumbnail"/>
    </div>

    <div  class="row">
        <div class="col-md-4">
            <p><br /></p>
            <img src="~/Content/img/morgan.jpg" class="img-thumbnail"/>
        </div>

        <div class="col-md-4">
            <p><br /></p>
            <img src="~/Content/img/TWD.jpg"class="img-thumbnail"/>
        </div>

        <div class="col-md-4">
            <p><br /></p>
            <img src="~/Content/img/TM7.jpg" class="img-thumbnail"/>
        </div>
    </div>
</div>